
.metadata/.log
.metadata/.log
*.snap
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2022-05-23.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
*.txt
